.toolbar{
    background-color: black;
    color: white;
    border-bottom: 5px solid #999999;
    text-align: center;
    height:43px;
    margin-bottom: 10px;
    padding-top: 25px;
}
body{
    background-color: whitesmoke;
    text-align: center;
    margin: 0px;
}
img{
    margin-top: 20px;
}
#naslovt{
    font-size: 28px;
    color: white;
}
.naslovb{
    font-size: 25px;
    margin-top: 30px;
}
.pravougaonik{
    margin: auto;
    margin-top: 30px;
    width: 700px;
    height: 250px;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-color: black;
    box-shadow: 0 0 35px rgb(47, 145, 211);
    font-size: 18px;
}
.pravougaonik a{
    margin-left: 20px;
}
.pravougaonik2{
    margin: auto;
    margin-top: 20px;
    width: 400px;
    height: 100px;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-color: black;
}
.polje{
    font-size: 17px;
    width: 300px;
    height: 50px;
    margin-top: 10px;
}  
#dugme{
    width: 310px;
    height: 60px;
    margin-top: 10px;
    border-style: solid;
    border-color: green;
    background-color: white;
    font-size: 17px; 
}
#dugme:hover{
    background-color: green;
    color: white;
}





    