body{
    background-color: whitesmoke;
    text-align: center;
    margin: 0px;
}
.toolbar{
    background-color: black;
    color: white;
    border-bottom: 5px solid #999999;
    text-align: center;
    height:43px;
    margin-bottom: 10px;
}




    